$main-color: #00B285;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html, body, #app {
  height: 100%
}

#gradient {
background-color: #000;
background: linear-gradient(270deg, #3dd9b1, #aa54c3, #f0a146, #46f081);
background-size: 800% 800%;
min-height: 100vh;

-webkit-animation: AnimationName 24s ease infinite;
-moz-animation: AnimationName 24s ease infinite;
animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* REST OF CSS */

.blyat-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;

  h1 {
    padding: 15px;
    height: 75px;
    background-color: #fff;
    margin-bottom: 0
  }

  img {
    height: 75px;
    width: 75px
  }
}

.center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.flex-column {
  flex-direction: column
}

.padd-10 {
  padding: 10px
}

.padd-20 {
  padding: 20px
}

.z-depth-1 {
  box-shadow: 0px 2px 9px rgba(0,0,0,.1)
}

.z-depth-2 {
  box-shadow: 0px 4px 18px rgba(0,0,0,.2)
}

.border-1 {
  border: 1px solid #ddd
}

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap
}

.log-reg {
  min-height: 320px;
  height: auto;
  min-width: 45px;
  width: 450px;
  background-color: #fff;
  word-wrap: break-word
}

.doors {
  margin-top: 30px;
  height: 300px;
  max-width: 100%;
  z-index: 1000
}

.btn-teal {
  background-color: $main-color
}

a {
  color: #00B285 !important;
  text-decoration: none !important
}

h3 {
  text-align: center;
  padding: 10px 0;
  background-color: $main-color
}

.user-card {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0 !important;
  width: 45%;
  cursor: pointer
}

.message-card {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 !important;
}

.user-card_header,
.message-card_header {
  background-color: rgb(34, 34, 34);
  color: #fff;
  text-align: center
}

.menu {
  display: flex;

  button {
    width: 50%;
    outline: 0;
    border: 0;
    background-color: $main-color;
    padding: 10px 0;
    cursor: pointer;

    &.active {
      background-color: #fff;
      border: 0;
      outline: 0
    }
  }
}

.sender input::placeholder,
.sender textarea::placeholder {
  color: $main-color !important;
}
