// $main-color: #00B285;
$main-color: #EF5350;

@import './partials/_utils.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html, body, #app {
  height: 100%
}

#main-bg {
  background: url('../img/propaganda.jpg') no-repeat fixed;
  background-size: 100% 100%;
}

#app {
  background: rgba(0,0,0,0.2) fixed;
  background-size: 100% 100%;
}

#inner {
  background: url('../img/russia.png') no-repeat center fixed;
  background-size: 80% 80%;
  
  min-height: 100vh;
}
  // background: linear-gradient(270deg, rgba(61, 217, 178, 0.7), rgba(169, 84, 195, 0.7), rgba(240, 161, 70, 0.7), rgba(70, 240, 130, 0.7));
  // background-size: 800% 800%;
  // -webkit-animation: AnimationName 24s ease infinite;
  // -moz-animation: AnimationName 24s ease infinite;
  // animation: AnimationName 24s ease infinite;

// @-webkit-keyframes AnimationName {
//   0%{background-position:0% 50%}
//   50%{background-position:100% 50%}
//   100%{background-position:0% 50%}
// }
// @-moz-keyframes AnimationName {
//   0%{background-position:0% 50%}
//   50%{background-position:100% 50%}
//   100%{background-position:0% 50%}
// }
// @keyframes AnimationName { 
//   0%{background-position:0% 50%}
//   50%{background-position:100% 50%}
//   100%{background-position:0% 50%}
// }

::-webkit-scrollbar {
  display: none;
}

/* REST OF CSS */

.blyat-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;

  h1 {
    padding: 15px;
    height: 75px;
    margin-bottom: 0;
    font-family: 'Russo One', sans-serif;
  }

  img {
    height: 75px;
    width: 75px;

    &:hover {
      cursor: pointer
    }
  }
}

.center {
  padding: 50px 0;
}

.log-reg {
  min-width: 500px;
  background-color: #fff;
  word-wrap: break-word
}

.doors {
  margin-top: 30px;
  height: 300px;
  max-width: 100%;
  z-index: 1000
}

a {
  color: $main-color !important;
  text-decoration: none !important
}

h3 {
  text-align: center;
  padding: 10px 0;
  background-color: $main-color;
  font-family: 'Russo One', sans-serif;
}

.user-card {
  padding: 0 !important;
  width: 45%;
  cursor: pointer
}

.message-card {
  width: 100%;
  padding: 0 !important;
  
  &.list:hover {
    cursor: pointer;
  }
}

.user-card_header,
.message-card_header {
  background-color: rgb(34, 34, 34);
  color: #fff;
  text-align: center
}

.menu {
  display: flex;

  button {
    width: 50%;
    outline: 0;
    border: 0;
    background-color: $main-color;
    padding: 10px 0;
    cursor: pointer;

    &.active {
      background-color: #fff;
      border: 0;
      outline: 0
    }
  }
}

button {
  font-family: 'Russo One', sans-serif;
}

.sender input::placeholder,
.sender textarea::placeholder {
  color: $main-color !important;
}

.read {
  background-color: #ddd
}

.unread {
  font-weight: bold;
  background-color: #fff
}