/* Transition effect */ 
.door-enter-active {
  animation: door-in ease-in-out 1.2s;
}
.door-leave-active {
  animation: door-in ease-in-out 1.2s reverse;
}

@keyframes door-in {
  0% {
    width: 0px;
    height: 300px;
    opacity: 0;
    overflow: hidden;
    /* height: 300px; */
  }
  30% {
    width: 0px;
    height: 300px;
    opacity: 0;
    overflow: hidden;
    /* height: 300px; */
  }
  55% {
    opacity: 0
  }
  70% {
    height: auto;
    opacity: 1
  }
  100% {
    height: auto;
    opacity: 1
  }
}