.m-0 {
  margin: 0
}

.m-1 {
  margin: 10px
}

.m-2 {
  margin: 20px
}

.m-3 {
  margin: 30px
}

.mt-1 {
  margin-top: 10px
}

.mt-2 {
  margin-top: 20px
}

.mb-1 {
  margin-bottom: 10px
}

.mb-2 {
  margin-bottom: 20px
}

.ml-1 {
  margin-left: 10px
}

.ml-2 {
  margin-left: 20px
}

.mr-1 {
  margin-right: 10px
}

.mr-2 {
  margin-right: 20px
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px
}


.mx-2 {
  margin-left: 20px;
  margin-right: 20px
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}